* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  box-shadow: 2px 2px 10px rgb(126, 126, 126);
}

header h1 {
  color: rgb(252, 54, 28);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex: 1;
}

header nav ul li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

input[type="search"] {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid grey;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(104, 104, 104);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 220px;
}

#profile img {
  border-radius: 50%;
}
#progress {
  display: flex;
  padding: 1rem;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(104, 104, 104);
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
  height: 220px;
}

#progress canvas {
  margin-left: 40px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2px 2px 6px grey;
  padding: 10px;
  border-radius: 20px;
}

.heading{
    font-weight: bold;
}

#actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#actions button {
  color: rgb(0, 0, 0);
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
}

#recommendation-sec {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}

#course-recom,
#job-recom {
  width: 48%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.course-list,
.job-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 8px black;
  border-radius: 10px;
  padding: 10px;
}

.course,
.job {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
}

.course .images,
.job .images {
  flex-shrink: 0;
  margin-right: 15px;
}

.course img,
.job img {
  width: 59px;
  height: auto;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

#recommendation-sec p {
  margin: 5px 0 0;
  font-size: 0.8rem;
  color: #555;
}
