* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
    box-shadow: 2px 2px 10px rgb(126, 126, 126);
}

header h1 {
    color: rgb(252, 54, 28);
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex: 1;
}

header nav ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

input[type="search"] {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid grey;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

#profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(104, 104, 104);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 220px;
}

#profile img {
    border-radius: 50%;
}

#progress {
    display: flex;
    padding: 1rem;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(104, 104, 104);
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    height: 220px;
}

#progress canvas {
    margin-left: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px 6px grey;
    padding: 10px;
    border-radius: 20px;
}

.heading {
    font-weight: bold;
}

#actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#actions button {
    color: rgb(0, 0, 0);
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
}

#recommendation-sec {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

#course-recom,
#job-recom {
    width: 48%;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.course-list,
.job-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
    padding: 10px;
}

.course,
.job {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
}

.course .images,
.job .images {
    flex-shrink: 0;
    margin-right: 15px;
}

.course img,
.job img {
    width: 59px;
    height: auto;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}

#recommendation-sec p {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: #555;
}

.skill-assess-before {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.skill-assess-before .div {
    background-color: #ffffff;
    height: 832px;
    position: relative;
    width: 1280px;
}

.skill-assess-before .overlap {
    background-color: #e8e8e8;
    border-radius: 20px;
    height: 54px;
    left: 336px;
    position: absolute;
    top: 20px;
    width: 553px;
}

.skill-assess-before .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 135px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    white-space: nowrap;
    width: 284px;
}

.skill-assess-before .overlap-group {
    background-color: #d9d9d9;
    border-radius: 20px 0px 0px 20px;
    height: 634px;
    left: 16px;
    position: absolute;
    top: 120px;
    width: 327px;
}

.skill-assess-before .overlap-2 {
    height: 43px;
    left: 27px;
    position: absolute;
    top: 20px;
    width: 273px;
}

.skill-assess-before .image {
    background-color: #00000008;
    border-radius: 90px;
    height: 26px;
    left: 235px;
    position: absolute;
    top: 17px;
    width: 28px;
}

.skill-assess-before .rectangle {
    background-color: #38cbdf;
    border-radius: 90px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 273px;
}

.skill-assess-before .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
}

.skill-assess-before .overlap-3 {
    border-radius: 19px;
    height: 386px;
    left: 13px;
    position: absolute;
    top: 135px;
    width: 300px;
}

.skill-assess-before .rectangle-2 {
    background-color: #d9d9d9;
    height: 100px;
    left: 146px;
    position: absolute;
    top: 185px;
    width: 100px;
}

.skill-assess-before .rectangle-3 {
    background-color: #f2f2f2;
    border-radius: 19px;
    height: 386px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
}

.skill-assess-before .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.skill-assess-before .navigating-away-from {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53px;
}

.skill-assess-before .span {
    font-weight: 600;
}

.skill-assess-before .text-wrapper-4 {
    font-family: "Inter-Regular", Helvetica;
}

.skill-assess-before .once-you-start-you {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
    width: 266px;
}

.skill-assess-before .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
}

.skill-assess-before .text-wrapper-6 {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
}

.skill-assess-before .once-you-start-the {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 208px;
    width: 266px;
}

.skill-assess-before .you-are-not-allowed {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    width: 266px;
}

.skill-assess-before .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 359px;
    white-space: nowrap;
}

.skill-assess-before .div-wrapper {
    background-color: #ffffff;
    border-radius: 90px;
    box-shadow: 0px 4px 4px #00000040;
    height: 35px;
    left: 24px;
    position: absolute;
    top: 66px;
    width: 273px;
}

.skill-assess-before .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    white-space: nowrap;
}

.skill-assess-before .overlap-4 {
    background-color: #32e6ff;
    border-radius: 90px;
    box-shadow: 0px 4px 4px #00000040;
    height: 42px;
    left: 27px;
    position: absolute;
    top: 570px;
    width: 273px;
}

.skill-assess-before .text-wrapper-9 {
    color: #262626;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
}

.skill-assess-before .overlap-5 {
    height: 637px;
    left: 353px;
    position: absolute;
    top: 117px;
    width: 917px;
}

.skill-assess-before .rectangle-4 {
    background-color: #f0f0f0;
    height: 635px;
    left: 1px;
    position: absolute;
    top: 1px;
    transform: rotate(-0.13deg);
    width: 916px;
}

.skill-assess-before .whatsapp-image {
    height: 541px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 95px;
    width: 907px;
}

.skill-assess-before .rectangle-5 {
    background-color: #ebebeb;
    border: 1px solid;
    border-color: #464646;
    height: 30px;
    left: 474px;
    position: absolute;
    top: 376px;
    width: 437px;
}

.skill-assess-before .rectangle-6 {
    background-color: #ebebeb;
    border: 1px solid;
    border-color: #1d1d1d;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 122px;
    width: 470px;
}

.skill-assess-before .rectangle-7 {
    background-color: #f0f0f0;
    height: 28px;
    left: 2px;
    position: absolute;
    top: 94px;
    width: 909px;
}

.skill-assess-before .rectangle-8 {
    background-color: #ebebeb;
    border: 1px solid;
    border-color: #191919;
    height: 22px;
    left: 474px;
    position: absolute;
    top: 122px;
    width: 437px;
}

.skill-assess-before .final-output {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 488px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 382px;
    white-space: nowrap;
}

.skill-assess-before .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 488px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    white-space: nowrap;
}

.skill-assess-before .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    white-space: nowrap;
}

.skill-assess-before .rectangle-9 {
    background-color: #ffffff;
    border-radius: 9px;
    height: 72px;
    left: 13px;
    position: absolute;
    top: 12px;
    width: 655px;
}

.skill-assess-before .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.skill-assess-before .modify-the-below {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 42px;
}

.skill-assess-before .text-wrapper-13 {
    color: #321a1a;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 708px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.skill-assess-before .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 727px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
}

.skill-assess-before .rectangle-10 {
    -webkit-backdrop-filter: blur(3.5px) brightness(100%);
    backdrop-filter: blur(3.5px) brightness(100%);
    background-color: #9d9d9d33;
    height: 491px;
    left: 3px;
    position: absolute;
    top: 145px;
    width: 470px;
    border-right: 2px solid black;
}

.skill-assess-before .rectangle-11 {
    -webkit-backdrop-filter: blur(3.7px) brightness(100%);
    backdrop-filter: blur(3.7px) brightness(100%);
    background-color: #9d9d9d33;
    height: 231px;
    left: 475px;
    position: absolute;
    top: 145px;
    width: 440px;
}

.skill-assess-before .rectangle-12 {
    -webkit-backdrop-filter: blur(2.6px) brightness(100%);
    backdrop-filter: blur(2.6px) brightness(100%);
    background-color: #9d9d9d33;
    height: 230px;
    left: 475px;
    position: absolute;
    top: 406px;
    width: 440px;
}

.skill-assess-before .vector {
    height: 486px;
    left: 474px;
    position: absolute;
    top: 145px;
    width: 1px;
}

#start-test {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 16px;
}

#start-test .text-wrapper-9 {
    margin: 0;
}

#stop-test {
    cursor: pointer;
    padding: 10px;
    background-color: #f40b0b;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 16px;
}